.category-card-container {
  background-color: #ffffff;
  width: 310px;
  height: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.category-card-container:hover {
  transform: translateY(-20px); /* ማውዝ ሲያርፍበት ትንሽ ከፍ እንዲል */
}

.category-card-container {
  background-color: #ffffff;
  flex: 1; /* አራቱም ካርዶች እኩል ቦታ እንዲይዙ */
  max-width: 300px; /* የካርዱ ከፍተኛ ስፋት */
  min-width: 250px; /* የካርዱ ዝቅተኛ ስፋት */
  height: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-card-container img {
  width: 100%;
  height: 275px;
  object-fit: cover; /* ምስሉ ሳይሸበሸብ እንዲቀመጥ */
  margin-top: 10px;
}

.category-card-container h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  color: #0f1111;
}

.category-card-container a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.category-card-container p {
  color: #007185;
  font-size: 13px;
  margin-top: auto; /* "Shop now" ወደ ታች እንዲወርድ */
}

.category-card-container p:hover {
  color: #c7511f;
  text-decoration: underline;
}